.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.header-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#video {
  position: fixed;
  left:0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
}
.about-container-parent{
  position: relative;
  display: flex;
  justify-content: center;
}

.about-container{
  position: relative;
  margin: auto;
  width: 100vw;
  height: 100%;

}


.about-container-grid{
  position: relative;

}

.about-container-paper{
  display: flex;
  width: 80%;
  color: #08606a;
  padding: 20px;
}

.about-container-paper-grid{
  display: flex;
  align-items: center;
  justify-content: center;
  /*background-color: #08606a;*/
}

.about-photo-div{
  padding:30px;
  display: flex;
  align-items: center;
  justify-content: center;

}

#rob_photo{
    width: 75%;

}

#ermias_photo{

}

#toby_photo{

}

.about-details-div{
  padding:30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #08606a;
}

.invasive-network{
  width: 75%;
}
.invasive-network-parent{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;

}

#logo_img_home {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 30%
}

.content_logo {
  width: 100%;
  height: auto;
  margin:0 auto;
  top: 0;
  transform: translate(0, 75%);
  z-index: 1;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.enter_project_button_div{
  z-index: 1;
  position: absolute;
  margin: 0 auto;
  transform: translate(0, 75%);
  background-color: #027d8d;
  /*transform: translate(0, 200%);*/
}

.blog-post-parent{
  display: flex;
  justify-content: center;
}

.blog-post-div{
  padding: 30px 50px;
  max-width: 60%;
}

.project-video-div{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 25%;
}

/*Link configuration*/
a:link {
  color: #027d8d;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #ffffff;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #9e196a;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: brown;
  background-color: transparent;
  text-decoration: underline;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  opacity:0.5;
}

.App-link {
  color: #61dafb;
}

.map-container{
  /*width: 50vw;*/
  height: 100vh;

}

.node-label {
  font-size: 12px;
  padding: 1px 4px;
  border-radius: 4px;
  background-color: rgba(0,0,0,0.5);
  user-select: none;
}

.wiki-card-media{
  max-height: 400px;
  width: auto;
}

.mapboxgl-canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
/*.map-container {*/
/*  height: 400px;*/
/*}*/
.mapGl{
  width:100%;
  height:75vh;
}

.paper-vizone {
  width: 100%;
  height: 300px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
